        // @media (max-width: 991px) {
        //     .active {
        //         display: none;
        //     }
        //     .hidden {
        //         display: inline;
        //     }
        // }

        @media (max-width: 991px) {
            .hero {
                display: flex;
                flex-wrap: wrap;
                &__left {
                    width: 100%;
                    order: 2;
                }
                &__right {
                    width: 100%;
                    order: 1;
                }
            }
            h1 {
                font-size: 56px;
            }

            .footer {
                display: flex;
                flex-wrap: wrap;
                &__tile {
                    width: 100%;
                    margin: 20px auto;
                }
            }
        }